{% extends "_TEMPLATE.html.twig" %}

{% block contenu %}
    <h1>Liste des films</h1>
    {% for f in films | slice(0, taillePage) %}
        {% include '_MINIATURE_FILM.html.twig' with {titre: f.titre, id: f.id} %}
        <br>
    {% endfor %}
{% endblock %}